@font-face {
    font-family: "SF";
    src: url("sf.OTF");
}
@font-face {
    font-family: "SF Bold";
    src: url("sf_bold.OTF");
}
body {
    color:white;
    background-image:url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
    font-family: SF;
    margin:0;
}
h1{
    font-family:'SF Bold';
}
h2 {
    font-family:'SF Bold';
}
.nav{
    backdrop-filter: blur(10px);
    height:50px;
    padding:16px;
    overflow:hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width:100%;
}
.nav h1 {
    margin-top:5px;
    margin-left:10px;
    float:left;
}
.nav .f {
    color:white;
    float:left;
    margin-left:70%;
    margin-top:14px;
    text-decoration: none;
    transition: all .2s ease-in-out; 
}
.nav .f:hover {
    transform: scale(1.1); 
}
.nav a {
    color:white;
    float:left;
    margin-left:50px;   
    margin-top:14px;
    text-decoration: none;
    transition: all .2s ease-in-out; 
}
.nav a:hover{
    transform: scale(1.1); 
}
.n1 {
    text-align:left;
    width:97.9%;
    padding:16px;
    height:200px;
}
.n1 title {
    text-align:center;
}
.n1 .con{
    margin-left:50px;
}
.n1 img {
    margin-left:50px;
}
.acon {
    color:white;
    text-decoration: none;
    transition: all .2s ease-in-out; 
    margin-top:10px;
    margin-left:50px;
    font-size:20px;
    border-radius: 5px;
    padding: 15px 10px;
    background-color:black;
}

.acon:hover {
    color:gray;
}
li {
    margin-left:50px;
    font-size:20px;
}
p {
    font-size:20px;
}
.footer {
    margin-top:3000px;
    background-image:url('https://images.pling.com/img/00/00/61/26/90/1563632/a4e9e9901bc4e634f4ef4c99a38754febd6d34f979bfa6df22f3ef1029b34f47cb1b.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    width:97.9%;
    padding:16px;
    height:100px;
}
